# Ignore everything
*

# But not .gitignore
!.gitignore

# Unignore directories
!hypr/
!zsh/
!scripts/
!kitty/
!micro/
!thunar/
!eza/
!icons/
!walker/
!quickshell/
!waybar/

# Unignore their contents
!hypr/**
!zsh/**
!scripts/**
!kitty/**
!micro/**
!thunar/**
!eza/**
!icons/**
!walker/**
!quickshell/**
!waybar/**
.zcompdump*
.zsh_history
*.zwc
